@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <br />
    <br />
    <br />
    <code>https://esepte.com/Products/@ViewBag.Store.Id</code>
    <br />
    <br />
    <a href="/Products/@ViewBag.Store.Id">Посмотреть как клиент</a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />