@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">Вход</h3>
<hr />
<div class="d-flex justify-content-center">

    <form asp-action="Login" method="post" class="col-8">

        <div class="form-group">
            <label>Название магазина</label>
            <input type="text" name="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" name="Password" class="form-control" />
        </div>
        <br />

        <div>
            <input type="submit" class="btn p-2 btn-primary" value="Войти" />
            <a href="/Home/Register" class="btn p-2 btn-link">Регистрация</a>
        </div>
    </form>
</div>

<br />
<br />
<br />
<br />

<h5>EsepteStores - это ваш интернет магазин!</h5>
<ul>
    <li>Логотип, название <b>интернет магазина</b></li>
    <li>Цена, способ доставки, описание <b>товара</b></li>
    <li>Имя, номер телефона, адрес <b>заказчика</b></li>
</ul>
